
#通用CSS
body{color:#000;background:#fff;padding:7px 0 0;margin:0;position:relative}
body,th,td{font-family:arial}
p,form,ol,ul,li,dl,dt,dd,h3{margin:0;padding:0;list-style:none}
input{padding-top:0;padding-bottom:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
table,img{border:0}
td{font-size:9pt;line-height:18px}
em{font-style:normal;color:#cc0000}
a em{text-decoration:underline}
cite{font-style:normal;color:#008000}

#table格式
.tb {border:0;font-size:100%;padding:0;}
.tb tr,td{font-size:9pt;font-family:arial;text-align:center;margin:0;padding:0;padding-right:0;padding-left:0;border:0}
.tb a{font-style:normal;color:red;cursor:hand;padding:0;}




	
	.f{line-height:115%;*line-height:120%;font-size:100%;width:33.7em;word-break:break-all;word-wrap:break-word}
	.h{margin-left:8px;width:100%}
	.r{word-break:break-all;cursor:hand;width:238px}
	.t{font-weight:normal;font-size:medium}
	
	.test {font-style:normal;color:#cc0000}