<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
 	<bean id="indexAction" class="com.gzb.web.struts.IndexAction" scope="prototype">
	  	<property name="userService"><ref bean="userService"/></property>
 	</bean>
 	<!-- 框架 -->
 	<bean id="mainAction" class="com.gzb.web.struts.MainAction" scope="prototype">
 	    <property name="modService"><ref bean="modService"/></property>
 	</bean>
 	
 	<!-- 模块管理 -->
 	<bean id="moduleAction" class="com.gzb.web.struts.admin.ModuleAction" scope="prototype">
 	    <property name="modService"><ref bean="modService"/></property>
 	</bean>
	
 	<!-- 角色管理 -->
 	<bean id="rolseAction" class="com.gzb.web.struts.admin.RolseAction" scope="prototype">
 	    <property name="rolseService"><ref bean="rolseService"/></property>
 	    <property name="modService"><ref bean="modService"/></property>
 	</bean>
 	
 	<!-- 用户角色管理 -->
 	<bean id="userinfoAction" class="com.gzb.web.struts.admin.UserinfoAction" scope="prototype">
 	    <property name="userService"><ref bean="userService"/></property>
 	    <property name="rolseService"><ref bean="rolseService"/></property>
 	    <property name="userinfoService"><ref bean="userinfoService"/></property>
 	</bean>
 	
	<!-- 用户信息处理 -->
	<bean id="userAction" class="com.gzb.web.struts.admin.UserAction" scope="prototype">
	  	<property name="userService"><ref bean="userService"/></property>
 	</bean>
 	
	<!-- 图片处理 -->
	<bean id="imagesAction" class="com.gzb.web.struts.image.ImagesAction" scope="prototype">
	  	<property name="imagesService"><ref bean="imagesService"/></property>
	  	<property name="imageTypeService"><ref bean="imgTypeService"/></property>
 	</bean>
	<bean id="imageTypeAction" class="com.gzb.web.struts.image.ImageTypeAction" scope="prototype">
	  	<property name="imageTypeService"><ref bean="imgTypeService"/></property>
 	</bean>
	<bean id="imageUploadAction" class="com.gzb.web.struts.image.ImagesUploadAction" scope="prototype">
	  	<property name="imagesService"><ref bean="imagesService"/></property>
	  	<property name="imageTypeService"><ref bean="imgTypeService"/></property>
 	</bean>
</beans>